In [12]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2018, 1, 1)

end = datetime.datetime.today()

Amazon = web.DataReader("AMZN", 'yahoo', start, end)

In [13]:
Amazon

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,59.500000,58.525501,58.599998,59.450500,53890000.0,59.450500
2018-01-03,60.274502,59.415001,59.415001,60.209999,62176000.0,60.209999
2018-01-04,60.793499,60.233002,60.250000,60.479500,60442000.0,60.479500
2018-01-05,61.457001,60.500000,60.875500,61.457001,70894000.0,61.457001
2018-01-08,62.653999,61.601501,61.799999,62.343498,85590000.0,62.343498
...,...,...,...,...,...,...
2022-07-05,114.080002,106.320000,107.599998,113.500000,76583700.0,113.500000
2022-07-06,115.480003,112.010002,113.209999,114.330002,66958900.0,114.330002
2022-07-07,116.989998,113.489998,113.849998,116.330002,57872300.0,116.330002
2022-07-08,116.580002,113.690002,114.599998,115.540001,45658200.0,115.540001
2022-07-11,114.300003,110.870003,114.080002,111.750000,53487600.0,111.750000